#header {
  font-size: 50px;
}

.btn-group-vertical {
  width: 150px;
}

#turn {
  width: 300px;
}

#board {
  width: 300px;
  aspect-ratio: 1 / 1;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: 992px) {
  .btn-group-vertical {
    width: 230px;
  }

  #turn {
    width: 420px;
  }

  .d-lg-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  
  #board {
    width: 400px;
    font-size: 13vh;
  }
}