#header {
  font-size: 50px;
}

.btn-group-vertical {
  width: 150px;
}

#info {
  width: 300px;
}

#board {
  width: 300px;
  aspect-ratio: 1 / 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
}

.modal-header {
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .btn-group-vertical {
    width: 230px;
  }

  #info {
    width: 420px;
  }

  .d-lg-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  #board {
    width: 400px;
  }

  .grid {
    font-size: 75px;
  }
}